<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nunes Sports - Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form method="post" action="{{ url_for('edit', id=product.id) }}">
        <label for="name">Nome:</label>
        <input type="text" name="name" value="{{ product.name }}" required><br>

        <label for="code">Código:</label>
        <input type="text" name="code" value="{{ product.code }}" required><br>

        <label for="description">Descrição:</label>
        <textarea name="description">{{ product.description }}</textarea><br>

        <label for="price">Preço:</label>
        <input type="text" name="price" value="{{ product.price }}" required><br>

        <input type="submit" value="Salvar Alterações">
    </form>
    <p><a href="{{ url_for('index') }}">Voltar para a Lista de Produtos</a></p>
</body>
</html>
