<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nunes Sports - Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ url_for('edit', id=product.id) }}">Editar</a>
                    <a href="{{ url_for('delete', id=product.id) }}">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{{ url_for('add') }}">Adicionar Produto</a></p>
</body>
</html>
